@font-face {
  font-family: "U8-Bold";
 src:url(/fonts/U8-Bold.woff2)
}



:root {
    --primary-color: #0c1825;
}


html {
    box-sizing: border-box;
  }

  /* Reset margins and padding */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  * {
      margin: 0;
      padding: 0;
  }
  /* end */
  body {
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: 'U8-Bold', serif;
    color: #0c1825;
  }
  li {
    list-style-type: none;
  }
  a {
      cursor: pointer;
      text-decoration: none;
      color: #0c1825e8;
    font-weight: 500;
    font-size: 17px;
  }
  p {
    line-height: 1.5;
    color: #0c1825;
  }

  
   
  img {
    max-width: 100%;
  }
.header {
        padding-top: 1.5em;
        padding-bottom: 5em;
         padding-left: 6em;
    padding-right: 4em;
        }
aside {
      display: flex;
      justify-content: space-around;
      margin-bottom: 4em;
      padding: 4em;
      background-color: #f7f0ff69;
    }
    aside h3 {
      font-size: 2em;
    }

  .nav {
      display: flex;
      justify-content: space-between;
      position: fixed;
      background: white;
      width: 100%;
      padding: 1.5em 2em;
      
  }
  .nav img {
    margin-left: 4em;
  }
  .nav div {
      display: flex;
      align-items: center;
  }
  .nav-list li {
      display: inline-block;
      vertical-align: middle;
      padding-right: 2em;
  }

  .sign_in,
  .account {
      margin-right: 0.5em;
      font-weight: 600;
      line-height: 17px;
      font-size: 1.07em;
      padding: 0.9em 1.5em;
  }
  .sign_in {
    transition-property: color, border;
    transition-duration: 0.8s;
  }
  .sign_in:hover {
    border: 1px solid #0d60d8;
    color: #0d60d8;
    
  }
  #sign_in,
  #account {
    display: none;
  }
  .sign_in, 
  .intro > button {
      border: 1px solid #0c182557;
      border-radius: 0.8em;
  }
.header-img {
position: relative;
right: 2.8em;
}
.hamburger {
  flex-direction: column;
  
}
.hamburger .line {
width: 2em;
height: 3px;
background-color: #353535;
margin: 3px auto;
display: none;
margin-right: 3em;
}
.header-img-container {
  position: relative;
  right: 6em;
padding-right: 0;
padding-top: 2em;
padding-bottom: 2em;
  border: 3px solid #353535;;
  border-radius: 1em;
}
.header-img-container div
{
  position: absolute;
}
.card1,
.card2 {
  position: relative;
  width: 12.8em;
}
.card1 {
  left: -11em;
  top: -23em;
}
.card2 {
  right: -13.5em;
  top: -14.8em;
}

.header-intro {
  display: flex;
  align-items: center;
  margin-top: 8em;
  justify-content: space-between;
}
.intro {
  width: 46%;
}
.intro-heading {
    font-family: 'U8-Bold', serif;
    font-weight: 600;
    color: #0c1825;
    font-size: 4.2em;
}
.logo {
  position: relative;
  left: 5%;
  top: 1.5em;
}
 .intro p {
  margin-top: 0.5em;
  line-height: 1.6;
  color: #353535;
  font-size: 1.1em;
}
.account {
  background-color: var(--primary-color);
  border-radius: 0.8em;
  color: white;
  font-size: 1.1em;
  transition-property: background-color;
  transition-duration: 0.8s;
  transition-delay: 0.2s;
  
}
.account:hover {
  background-color: #0d60d8;
}
.intro .accounts {
  margin-top: 2em;
  font-size: 0.9em;
}

.fab {
  font-size: 1.8em;
  margin-right: 0.3em;
}
.download {
  display: flex;
}
.intro .download p {
  margin-top: 3em;
  margin-right: 1em;
  border: 1px solid rgba(187, 187, 187, 0.452);
  border-radius: 12px;
  padding: 10px 12px;
 
}
.intro .download p a {
  vertical-align: middle;
  font-size: 0.8em;
  color: #0c1825;
}
.savings {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4em;
  margin-bottom: 2em;
  margin-left: 6em;
  margin-right: 4em;
}

.savings-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}
.savings-type div {
  width: 340px;
  height: 350px;
  padding: 1.8em;
  background-color: #f9f9f9;
  border-radius: 1.5em;
}
.savings-type div h3 {
  margin: 1em 0 1.5em 0;
}
.savings-type div p:nth-of-type(2) {
  margin-bottom: 3em;
}


.savings-plan h2 {
font-size: 2.5em;
font-weight: 600;
line-height: 52px;
}
.savings-plan p {
  margin-top: 2em;
}
.savings-plan p:nth-of-type(2) {
  margin-top: 2.5em;
}
.stamps {
  width: 50px;
  height: auto;
}
.fa-arrow-right {
  margin-right: 1em;
  background-color: rgb(224, 239, 255);
  padding: 0.5em;
  border-radius: 15px;
}

/* stamps */
.ps {
  color: rgb(0, 51, 153);
}
.sf {
color: rgb(50, 150, 255);

}
.ta {
color: rgb(6, 155, 64);
}
.lo {
color: rgb(229, 40, 142);
}
/* end */

.investments {
  display: flex;
  margin-right: 4em;
  justify-content: space-evenly;
  align-items: center;
 margin-top: 4em;
 padding-bottom: 6em; 
}
.investify {
  width: 15em;
}
.investments div {
  width: 450px;
}
.investments div h1 {
  font-size: 2em;
  font-size: 3.2em;
  margin-bottom: 0.5em;
}
.investments div p {
  line-height: 1.5;
  margin-bottom: 1em;
}
.investments div p a {
  color: #7913e5;
}
.returns {
  color: #7913e5;
  background-color: #f7f0ff;
  padding: 0.5em 0.8em;
  font-weight: 700;
  border-radius: 15px;
}
.fa-chevron-right {
  font-size: 12px;
}
.article {
  margin-top: 4em;
  display: flex;
  background-color: #0d60d8;
  margin-left: 0;
  margin-bottom: 3em;
}
.article div {
  padding: 5em;
  padding-bottom: 4em;
  padding-right: 12.3em;
  width: 74%;
}
.article div h3 {
  font-size: 3.5em;
  font-weight: 600;
}
.top-saver {
  width: 70%;
  height: auto;
}
.article div > h3,
.article div > p,
.article div p > a {
  color: white;
}
 
.article div p {
  margin-top: 2em;
  font-size: 17px;
}
.article div p a {
  font-weight: 700;
}
.article div p a i {
  fill: rgb(34, 149, 242);
  font-size: 15px;
}
.testimonials {
  display: flex;
  justify-content: space-around;
  margin: 6em 16em 4em 3em;
}
.testimonials-container {
  width: 28em;
}
.testimonials-container div div > p {
  font-size: 12px;
}
.testimonials-container div div > h4 {
  font-size: 14px;
}
.statistics {
  width: 25em;
}
.avatar {
  width: 2.3em;
  height: 2.2em;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: 1em;
}
.test {
  display: flex;
padding: 1.3em;
background-color: #f7f0ffad;
margin-bottom: 2em;
}
.test div {
  margin-left: 1em;
}
.test div p {
  color: #727272;
}
.test div h4 {
  margin-bottom: 0.7em;
}
.henry-p {
  position: relative;
  left: 30%;
}
.test div p:nth-of-type(1) {
  text-align: right;
}
.statistics h3 {
  font-size: 2em;
  margin-top: 3em;
  margin-bottom: 1em;
}
.statistics p {
  margin-top: 1em;
}
.statistics .accounts {
  margin-top: 2em;
  margin-bottom: 1em;
}
.statistics .download p {
  margin-top: 3em;
  margin-right: 1em;
  border: 1px solid rgba(187, 187, 187, 0.452);
  border-radius: 12px;
  padding: 10px 12px;
 
}
.statistics .download p a {
  vertical-align: middle;
  font-size: 0.8em;
  color: #0c1825;
}
.newspapers {
  width: 10em;
margin-right: 3em;
vertical-align: baseline;
}
.footer {
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  margin-right: 5em;
  margin-top: 5em;
  padding-top: 2em;
  padding-bottom: 6em;
}
.footer a {
  font-size: 13px;
  font-size: 700;
}
.footer-sec {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 3em;
}
.footer-sec div ul > li {
  margin-bottom: 0.8em;
}
.footer-sec h4 {
  font-size: 13px;
  font-weight: 700;
}
.footer-sec div p {
  margin-bottom: 0.8em;
  font-weight: 700;
  color: #0c1825;
}
.contact-icons li {
  display: inline-block;
  margin-bottom: 1em;

}


.footer > p:nth-of-type(1),
.footer > p:nth-of-type(2){
  text-align: center;
  margin-top: 1em;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.5;
  color: #0c1825;
}
.footer > p:nth-of-type(1) {
  margin-left: 19em;
  margin-right: 19em;
}
.footer > p:nth-of-type(2) {
  color: #083e9e;
}
.contact p,
.contact-icons {
  text-align: right;
}

