
p {
    font-size: 16px;
}
.header {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.nav img {
    margin-left: 0.3em;
    width: 35%;
}
.header-intro {
    flex-direction: column;
    justify-content: center;
}
.intro-heading {
    text-align: center;
    font-size: 2.9em;
}
.intro {
    margin-bottom: 4em;
    width: auto;
}
.intro p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.savings {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
}
.account,
.sign_in {
    padding: 1em 1.7em;
}
.download {
    justify-content: center;
}
.header-img {
    max-width: 100%;
    width: auto;
}
.header-img-container {
    position: relative;
    right: 0;
    left: 2em
}
.card1 {
    left: -5em;
}
.card2 {
    right: -8.8em;
}

.savings-plan {
    margin-bottom: 3em;
}
.savings-plan h2 {
    font-size: 2em;
    text-align: center;
}
.savings-plan p,
.savings-type p,
.savings-type h3,
.investments div p,
.investments div h1,
.article div p,
.article div h3,
.statistics h3,
.statistics p {

    text-align: center;
}
.savings-type {
    grid-template-columns: 1fr;
}
.investments div {
    width: auto;
    margin-top: 8em;
}
.investify {
    max-width: 100%;
}
.investments {
    flex-direction: column;
    margin-left: 3em;
    margin-right: 3em;
    justify-content: center;
}
.investments div h1 {
    font-size: 1.9em;
    margin-top: 2em;
    margin-bottom: 1.3em;
}

.article {
    flex-direction: column;
}
.article div {
    margin-right: 0;
    width: auto;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 7em;
    padding: 1.5em 1em 4em 1em;
}
.article div h3 {
    font-size: 2em;
}
.article div p {
    font-size: 16px;
    margin-top: 1em;
}
.article div > p:nth-of-type(2) {
    margin-top: 3em;
}

.top-saver {
    width: auto;
    max-width: 100%;
}
.testimonials {
    margin: 1.7em;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}
aside {
    flex-direction: column;
    padding: 0;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 5em;
    justify-content: center;
    align-items: center;
}
aside h3 {
text-align: center;
margin-top: 1em;
}
aside div {
    margin-top: 2.5em;
    display: grid;
    row-gap: 2em;
    grid-template-columns: 1fr 1fr;
}
.newspapers.crunch {
position: relative;
left: 50%;
right: 50%
}




.statistics {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
}
.statistics .download p {
    margin-top: 1em;
}
.testimonials-container,
.statistics {
    width: auto;
}
.statistics .account {
    padding: 0.9em 1.5em;
}
.statistics .download p a {
  font-weight: 700;
  }
  .footer-sec {
      flex-direction: column;
  }
  .footer-sec img {
      margin-bottom: 3em;
  }
  .footer {
      margin-left: 1.3em;
      margin-right: 1em;
  }
  .contact p,
  .contact-icons {
      text-align: left;
  }
  .footer > p:nth-of-type(1) {
    margin-left: 0em;
    margin-right: 0em;
  }
  .henry-p {
      left: 0;
  }
  .authorization p {
      display: none;
  }
  .nav {
      position: relative;
  }
  .nav-list {
      position: absolute;
      width: 100%;
      background:  white;
      text-align: center;
      top: 200%;
      left: 0;
      padding-bottom: 1.5em;
  }
  .nav-list li {
      width: 100%;
      display: block;
      z-index: 100;
      margin-top: 0em;
      padding-bottom: 1.8em;
      padding-right: 0;
      
  }
   #sign_in {
      margin-top: 1em;
      width: 90%;
      display: block;
  }
  #sign_in a,
  #account a {
    display: block;
    left: 7%;
    position: relative;
    
  }
  #account {
      margin-top: 0.1em;
      width: 90%;
      display: block;
  }
  
  .logo {
      left: 0;
  }
  .hamburger .line {
      display: block;
margin-right: 0px;
width: 1.8em;
  }
  
.hamburger > .line:nth-of-type(1) {
    transform: translateY(5px) rotate(45deg);
}
.hamburger > .line:nth-of-type(2) {
width: 0;
}
.hamburger > .line:nth-of-type(3) {
    transform: translateY(-13px) rotate(130deg);
}
  /* @media (max-width: 357px) {
      .card1,
      .card2 {
          width: 50%;
      }
    .download {
        flex-direction: column;
        align-items: center;
    }
    .intro .download p {
        margin-top: 0;
      }
      .intro .accounts {
margin-bottom: 3em;
      }
      .article div {
          width: 100%;
      }
      .article {
          margin-right: 0;
      }
      .top-saver {
          width: 100%;
      }
} */
 
    